@page "/"
@inject HttpClient Http
@using R7P.MachineManagerService.WebSimulator.Models

<PageTitle>Home</PageTitle>

<h1>Машины</h1>

<button @onclick="OnStartButtomClick" disabled="!started"> Start </button>
<button @onclick="OnStopButtomClick" disabled="started"> Stop </button>

@if (machines == null) {
    <p><em>Loading...</em></p>
}
else {
    <ul>
        @foreach (var machine in machines) {
            <li>        
                @machine.Name

                @foreach(var task in machine.Tasks) {
                    <p>@task.ToString();</p>
                }
                @foreach (var cargo in machine.Сargoes) {
                    <p>@cargo.ToString();</p>
                }
            </li>
        }
    </ul>
}

<p>
    @exceptionMessage
</p>



@code {
    private bool started = false;

    private MachineDto[]? machines;
    private string? exceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        try { 
            machines = await Http.GetFromJsonAsync<MachineDto[]>("http://localhost:5001/machine");
        }
        catch (NotSupportedException exception) {
            exceptionMessage = exception.Message;
        }
    }

    void OnStartButtomClick()
    {
        started = true;
    }

    void OnStopButtomClick()
    {
        started = false;
    }
}
